<h1>Boostrap Demo</h1>




<h1>Bootstrap demo</h1>

<div class="row">

    <div class="col align-middle">
        <div id="carouselExampleCaptions" class="carousel slide align-middle p-t5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/cat.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Stella</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/dog.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Rexl</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>    
    </div>

    <div class="col p-5 m-5 border border-5 border-danger">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
  <div class="row">

    <div class="col bg-info text-danger p-5 m-5">
        <img src="/images/dog.jpg" width="100%">
        <p>Rex</p>
    </div>

    <div class="col bg-warning text-primary p-5 m-5">
        <img src="/images/cat.jpg" width="100%">
        <p>Stella </p>
    </div>
    
    
</div>

<hr>

<div class="row">

    <div class="col bg-info">
        <img src="/images/cat.jpg" alt ="cute cat" width="100%">
    </div>
    <div class="col bg-danger">
        <img src="/images/dog.jpg" alt ="cute dog" width="100%">
    </div>
</div>

<div class="row">
    <div class="col bg-info">
        CAT
    </div>
    <div class="col bg-danger">
        DOG
    </div>
</div>

<hr>


<div class="row">
    <div class="col bg-info">
        <img src="/images/cat.jpg" alt="cute cat">

    </div>
    <div class="col bg-primary">
        <p>
            This is the middle section
        </p>
    </div>
    <div class="col bg-danger">
        <img src="/images/dog.jpg" alt="cute dog">
    </div>
</div>

<div class="row">
    <div class="col bg-info">
        <img src="/images/cat.jpg" alt="cute cat" width="100%">

    </div>
    <div class="col bg-primary">
        <p>
            This is the middle section
        </p>
    </div>
    <div class="col bg-danger">
        <img src="/images/dog.jpg" alt="cute dog" width="100%">
    </div>
    <div class="col bg-info">
        <img src="/images/cat.jpg" alt="cute cat" width="100%">

    </div>
    <div class="col bg-primary">
        <p>
            This is the middle section
        </p>
    </div>
    <div class="col bg-danger">
        <img src="/images/dog.jpg" alt="cute dog" width="100%">
    </div>
    <div class="col bg-info">
        <img src="/images/cat.jpg" alt="cute cat" width="100%">

    </div>
    <div class="col bg-primary">
        <p>
            This is the middle section
        </p>
    </div>
    <div class="col bg-danger">
        <img src="/images/dog.jpg" alt="cute dog" width="100%">
    </div>
</div>