<h1>Exam 13a - Routing</h1>
<h2>Body Mass Index</h2>
<form method="post" action="/exam13a-routing">
   Enter your height in inches:
   <input type="number" name="inches"><br>
   Entery your weight in pounds:
   <input type="number" name="pounds"><br>
   <input type="submit" class="btn btn-md btn-danger">
</form>
