<h1>Exam 12a - HTML/Bootstrap</h1>

<div class="row">
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
</div>

<div class="row">
    <div class="col">

    </div>
    <div class="col bg-warning p-3 m-1 border border-primary border-5">
        <form method="post" action="exam12b">
            Enter your pet's name:
            <input type="text" name="petname" placeholder="Pet's name">
            <br>
            Pet's sex: <select name="petsex"><option>Male</option><option>Female</option></select>
            <br>
            Pet's birthday <input type="date" name="bday">
            <br>
            <input type="submit" class="mt-2 btn btn-primary">


        </form>
    </div>
    <div class="col">
        
    </div>
</div>

<div class="row">
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
    <div class="col p-1 m-5 bg-warning border border-danger border-5">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
</div>