<h1>Exam11a - HTML</h1>

<div class="row">
    <div class="col bg-info p-3">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
    <div class="col bg-warning p-3">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
    <div class="col bg-info p-3">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
    <div class="col bg-warning p-3">
        <img src="/images/cat.jpg" alt="cat" width="100%">
    </div>
    <div class="col bg-info p-3">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>
</div>
<div class="row">
    <div class="col p-5 m-5 bg-warning">
        <h1>Cat Photo Contest</h1>
        <form method="post">
            Name of your Cat <input type="text" name="petname"><br>
            URL of a picture of your cat <input type="text" name="url"><br>
            <input class="btn btn btn-danger mt-2" type="submit" value="Enter your cat in the photo contest">
        </form>
    </div>
    <div class="col p-5 m-5 bg-info">
        <h1>Dog Photo Contest</h1>
        <form method="post">
            Name of your Dog <input type="text" name="petname"><br>
            URL of a picture of your dog <input type="text" name="url"><br>
            <input class="btn btn btn-danger mt-2" type="submit" value="Enter your dog in the photo contest">
        </form>
    </div>
</div>