<h1>Exam13c - Aggregation</h1>

Write the pipeline code to generate a list of the most popular 20 names
this millenia by grouping by the name/sex and summing the count, then sorting by count decreasing.
The Exam13-start branch contains the empty aggregation [] which
just returns the mongo ids of the Name documents.... 
If you update the popularNames variable in app.js, 
it will use that for the aggregation pipeline.

<ul>
    <% for (person of people) {%>
       <li>
           <%= person.counter %>:
           <%= person._id %>
       </li>
    <% } %>
</ul>