
<div class="row">
    <div class="col text-center bg-danger">
        <h1>Course Registration</h1>
    </div>
</div>
<form method="post" action="/petinfo">
    <div class="row">
        <div class="col bg-info p-5">
            
            <h1>Course Registration</h1>
            Enter your full name: <input type="text" name="fullname"><br>
            Enter your birthdate: <input type="date" name="bday"><br>
            <hr>
            Select the term:
            <select name="term">
                <option>Sum2022</option>
                <option>Fall2022</option>
                <option>Spr2023</option>
            </select>
            <br>  
        </div>
        <div class="col bg-warning p-5">
            Enter a short bio (3 sentences):<br>
            <textarea name="bio"></textarea><br>
        </div>
        <div class="col bg-info p-5">

            <input type="submit" class="btn btn-lg btn-danger class="mt-5">
        
        </div>
    </div>
</form>

<div class="row">
    <div class="col bg-primary p-3 m-3">
        <img src="images/cat.jpg" width="100%">
    </div>
    <div class="col bg-warning p-3 m-3">
        <img src="images/dog.jpg" width="100%">
    </div>
    <div class="col bg-primary p-3 m-3">
        <img src="images/cat.jpg" width="100%">
    </div>
    <div class="col bg-warning p-3 m-3">
        <img src="images/dog.jpg" width="100%">
    </div>
</div>
   