<h1>Exam13b - Mongodb</h1>
You can use the URL: '/getnames/:name/:sex'
to get a JSON object with all of the documents in the Name collection
with the specified name. For example, to the counts of the numbers of
boys with the name "Timothy" from 2000 to 2020, visit the URL
'/getnames/Timothy/M'

<hr>
<ul>
    <li><a href="/getnames/Timothy/M">Timothy/M</a></li>
    <li><a href="/getnames/Emma/F">Emma/F</a></li>
    <li><a href="/getnames/Jiale/M">Jiale/M</a></li>
    <li><a href="/getnames/Fatima/F">Fatima/F</a></li>
</ul>

Write the route to handle any name and sex.