<h1>Exam11d - Mongodb</h1>

<a href="/exam11d/COSI/1203">Get JSON of COSI courses in term Fall 20 (i.e. term=1203)</a>
<br>
<a href="/exam11d/COSI/1212">Get JSON of COSI courses in term Summer 21 (i.e. term=1212)</a>
<br>
<a href="/exam11d/JAPN/1211">Get JSON of JAPN courses in term Spring 21 (i.e. term=1211)</a>
<br>
