<h1>Exam 13</h1>
<ul>
    <li><a href="/exam13a-routing">Routing problem</a></li>
    <li><a href="/exam13b-mongodb">MongoDB problem</a></li>
    <li><a href="/exam13c-aggregation">Aggregation problem</a></li>
</ul>
