<h1>Quiz 12</h1>
<ul>
    <li><a href="/exam12a">Exam12a - HTML</a></li>
    <li><a href="/images/exam12a.png">Exam12a Screen Image -- make the exam12a screen look like this</a></li>
    
    <li><a href="/exam12b">Exam12b - EJS</a></li>
    <li><a href="/images/exam12b.png">Exam12b Screen Image -- make the exam12b screen look like this</a></li>

</ul>