<h1>Exam 14 -- Takehome Exam 3</h1>
<ul>
    <li><a href="/exam14a">Exam14a - HTML</a></li>
    <li><a href="/exam14b">Exam14b - EJS</a></li>
    <li><a href="/exam14c">Exam14c - Routing</a></li>
    <li><a href="/exam14d/COSI/100">Exam14d - MongoDB</a></li>
    <li><a href="/exam14e">Exam14e - Aggregation</a></li>
</ul>