<h1>L38</h1>
<ul>
    <li><a href="/overheardForm">Overheard at Brandeis demo</a></li>
    <li><a href="/coursefinder">Course finder demo</a></li>
    <li><a href="/demo4stage">4 stage aggregation demo</a></li>
    <li><a href="/pivot/onInstructor">Pivot table on instructor</a></li>
    <li><a href="/deptTeachingLoads/COSI">Teaching loads for COSI</a></li>
    <li><a href="/smallclasses">Small Classes</a></li>
    <li><a href="/bigclasses/150">Big classes (> 150)</a></li>
</ul>