

    <div class="jumbotron">
        <h1>PA03 demo</h1>
        <p>Demonstrating EJS features</p>
    </div>
    <pre>
        <%= JSON.stringify(timcs[0],null,5) %>
    </pre>
    <% for (course of timcs){%>
        <%= course.name %><br>
    <% } %>
    
    
 


