<div class="row">

    <div class="row">
        <div class="col bg-info p-5 m-3">
            <h1>Dog Photo Contest</h1>
            <h4>
                <li>Dog's Name: Rex</li>
                <li>Dog's Owner: Oedipus</li>
                <li>Dog's Age: 4 years</li>
            </h4>
        </div>
    
        <div class="col bg-warning p-5 m-3">
            <img src="/images/dog.jpg" width="100%">
        </div>
    
        <div class="col bg-info p-5 m-3">
            <h1>Feedback Form</h1>
            <h4>What do you think about this photo?</h4>
            <form>
                <textarea name="feedback"></textarea>
                <input type="submit" class="bg-danger text-white btn btn-lg" value="Send Feedback">
            </form>
        </div>
    </div>

    
    <div class="col bg-info m-2 p-5">
        <h1>Dog Photo Contest</h1>
        <ul>
            <li>Dog's name: Rex</li>
            <li>Dog's owner: Oedipus</li>
            <li>Dog's age: 4 years</li>
        </ul>
        <br>
    </div>

    <div class="col bg-warning m-2 p-5">
        <img src="/images/dog.jpg" alt="dog" width="100%">
    </div>

    <div class="col bg-info m-2 p-5">
        <form>
            <h1>Feedback Form</h1>
            What do you like about this photo:<br>
            <textarea></textarea><br>
            <input type="submit" class="btn btn-lg btn-danger" value="send feedback">
        </form>
    </div>
</div>