<h1>This is the sandbox!!</h1>
<a href="https://www.brandeis.edu">
    Go to Brandeis
</a>

<hr>

<img src="/images/dog.jpg" alt="cute dog">


<h1>Tables</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr><td>English</td><td>Japanese</td><td>Spanish</td></tr>
    </thead>
    <tbody>
        <tr><td>one</td><td>ichi</td><td>uno</td></tr>
        <tr><td>two</td><td>ni</td><td>dos</td></tr>
        <tr><td>three</td><td>san</td><td>tres</td></tr>
    </tbody>
    <tfooter>
        <tr><td>English</td><td>Japanese</td><td>Spanish</td></tr>
    </tfooter>
</table>


<h2>Lists!</h2>
<ul>
    <li>
        ichi
    </li>
    <li>
        ni
    </li>
    <li>
        san
    </li>
</ul>
<div class="bg-danger">
    <h1>This is a div!!!</h1>
    <p> this is a paragraph</p>
</div>  

Here is <span class="bg-info"> a span!</span>, cool huh?
<br>
<hr>

<table class="table">
    <thead>
        <tr>
            <td>dog</td><td>cat</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/images/dog.jpg" alt="cute dog"></td><td><img src="/images/cat.jpg" alt="cute cat"></td>
        </tr>
        <tr>
            <td><a href="/images/dog.jpg">dog</a></td><td><a href="/images/cat.jpg">cat</a></td>
        </tr>
    </tbody>
</table>
<hr>

<h1> Second version</h1>
<table class="table table-bordered">
    <tr>
      <th>Cat</th>
      <th>Dog</th>
    </tr>
    <tr>
      <td><img width="100%" src="https://www.thesprucepets.com/thmb/C8BU42tZzhDbbQbJtDzBofBlyZU=/941x0/filters:no_upscale():max_bytes(150000):strip_icc()/cat-talk-eyes-553942-hero-df606397b6ff47b19f3ab98589c3e2ce.jpg"></td>
      <td><img width="100%" src="https://i.guim.co.uk/img/media/364089a4778d97eac2be1a48913931b6f562e169/920_1562_2138_1282/master/2138.jpg?width=1020&quality=45&auto=format&fit=max&dpr=2&s=a1a0d92cd564db20c8ad11e2d5c71abf"></td>
    </tr>
    <tr>
      <td><a href="https://www.thesprucepets.com/thmb/C8BU42tZzhDbbQbJtDzBofBlyZU=/941x0/filters:no_upscale():max_bytes(150000):strip_icc()/cat-talk-eyes-553942-hero-df606397b6ff47b19f3ab98589c3e2ce.jpg">cat link</a></td>
      <td><a href="https://i.guim.co.uk/img/media/364089a4778d97eac2be1a48913931b6f562e169/920_1562_2138_1282/master/2138.jpg?width=1020&quality=45&auto=format&fit=max&dpr=2&s=a1a0d92cd564db20c8ad11e2d5c71abf">dog link</a></td>
    </tr>
  </table>